  <div class="container mt-5">
    <div class="row">
      <div class="col-6">

        <h2><i class="fa-sharp fa-solid fa-book-bookmark"></i>タイムライン</h2></br>
          <div>

            <%= render 'common/time_line' ,works: @works %>

           </div>

     </div>
    </div>
  </div>

