  <div class="container mt-5">
    <div class="row">
      <div class="col-6">
        
        <h2>Artists Agoraへようこそ！</h2>
        <p>このアプリケーションは、創作した美術作品を</br>
        アップし、コメントをもらうSNSです。</p>

      </div>
    </div>
  </div>