  <div class="container mt-5">
    <div class="row">
      <div class="col-6">
       <h2>お気に入り投稿</h2>
       
         <%# @works.each do |work| %>

          <%#= link_to work_path(work.id) do %>
          <%#= image_tag work.image, size: "150x150" %>
          <%# end %>

          <%# if current_user.already_favorited?(work) %>

          <%#= link_to"❤", work_favorites_path(work.id), method: :delete %></br>
          <%# else %>
          <%#= link_to"♡", work_favorites_path(work.id), method: :post %>
          <%# end %>
          <%#= work.favorites.count %>


          <%#= work.work %>
          <%# end %>

      </div>
    </div>
  </div>