@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';



.card-wrapper {
    list-style: none;
    display: flex;
    gap: 16px;
}

.post-card{
    border-style: double;
}

.comment-card{
    border-style: solid;
    display: flex;
    width: 20;
    height: 20;
}



#user_introduction{
    width:200px;
}

.home{
    background-image: artists_agora/app/assets/images/scool_of_athens;
}