@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';



.work-image {
    width: auto; 
    height: 200px; 
    object-fit: cover;
}

.card-wrapper {
    list-style: none;
    display: flex;
    gap: 16px;
}

.post-card{
    border-style: double;
}

.comment-card{
    border-style: solid;
    display: flex;
    height: 200px;
    width: 200px;

}

.btn-info a,.btn-danger a,.btn-primary a,.btn-success a{
    color: white;
}

.btn-warning a{
    color: black;
}



#user_introduction{
    width:200px;
}

.home{
    background-image: artists_agora/app/assets/images/scool_of_athens;
}