@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.top-cover{
    background-image: url("../images/school_of_athens.jpg");
    background-size: cover;
    background-position: 50% 80%;
    width: 100%;
    height: 98vh;
    color: #4C46FA;
    font-size: large;
}


.comments_area{
    display: flex;
}

.nav-link {
    display: unset;
}
.work-image {
    width: auto;
    height: 200px;
    object-fit: cover;
}

.plofile-image{
     width: auto;
    height: 200px;
    object-fit: cover;
}


.wrapper_all{
    display: flex;
}
.card-wrapper {
    list-style: none;
    display: flex;
    gap: 16px;
}

.post-card{
    border-style: double;
}

.comment-card{
    border-style: solid;
    display: flex;
    width: 200px;
    overflow-wrap: break-word;

}

.btn-info a,.btn-danger a,.btn-primary a,.btn-success a{
    color: white;
}

.btn-warning a{
    color: black;
}



#user_introduction{
    width:200px;
}

