  <div class = "container">
    <div class = "row">
        <div class = "col-md-12">

    <h2>ユーザーからの通報</h2>

    <table class = "table">
        <thead>
          <tr>
            <th>通報を送信したユーザー</th>
            <th>通報されたコメント</th>
            <th>理由</th>
            <th></th>
          </tr>
        </thead>
   　　　 <tbody>
          <% @reports.each do |report| %>
          <tr>
            <td><%= report.user.name %></td>
            <td><%= report.comment.comment %></td>
            <td><%= report.report %></td>
            <td><%=  link_to"削除する" ,admin_report_path(report.id),method: :delete%></td>
          </tr>
          <% end %>
        </tbody>
        </table>


        </div>
    </div>
  </div>
