<div class="container mt-5">
  <div class="row">
    <div class="col-6">

<h2>コメントを管理者に報告</h2>

<p>理由</p>

<%= form_with model:report,url: reports_path,method: :post %>
 <%= f.text_field :report %>
 <%= f.submit"送信" %>
<% end %>

  </div>
 </div>
</div>